.background-img {
    width: 100%;
    max-height: 100%;
}

.bg-img-container {
    max-height: 100vh;
    overflow: hidden;
}

body {
    margin: 0;
}

.background {
    display: flex;
    position: relative;
    justify-content: center;
}

.artist-info {
    position: absolute;
    bottom: 30%;
    width: 80%;
    padding: 20px 20px;
    background-color: #00000090;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.artist-info .artist-name {
    font-size: 30px;
}

.artist-info .artist-bio {
    font-size: 18px;
}

.search-button {
    position: absolute;
    bottom: 15%;
}