html {
    background: #fff;
    color: #000;
   
}
header{
    position: fixed;
    background: #1c1c1c;
    width: 100%;
    z-index: 20;
    display: block;
    
}


body {
    margin: 0;
    background: #f2f2f2;
    color: #000;
    font-weight: 400;
    font-style: normal!important;
    font-size: 14px;
    font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
    line-height: 1.42857;
    min-width: 800px;
    
}
.sidebar{
    margin-top:15px
}
div{
    display: block;
   
}
.container{
    overflow: visible;
    width: 100%;
    height: 50px;

}
 

nav{
    width: 100%;
    min-width: 1000px;
    height: 50px;
}
.home{
    width: 30px;
    height: 40px;
}
nav.container.mai-nav.home a{
    size: 100px;
}
a.home-logo{
   background-image: url('../../resources/icons/_ionicons_svg_md-home.svg');
   background-repeat: no-repeat;
   background-size: 20px;
 

  
  
}
.home-logo-div{
    width: 30px;
     height: 30px;
}
.home-logo-title{
    visibility: hidden;
}
li{
    list-style: none;
    display: list-item;
}
ul.list-inline{
   
    margin:0px;
}
.header{
    padding-top:6px;
}
.nav-bar{
    padding-top: 15px;
}
.search-bar{
    margin-left: 200px;
    widows: 400px;
}

.profile{
    float: right;
    height: 40px;
}
a {
    text-decoration: none !important;
    color: white;

}
.nav-text{
    color:black ;
    text-decoration: none !important;
}
.list-inline-item:not(:last-child) {
    margin-right: .7rem;
}
.page {
    background-color: white;
    width: 100%;
    margin: 0;
    padding: 30px 5px 0;
    
}

iframe {
    width: 100%;
    border-width: 0;
    background: none;
}

.page-wrapper{
    background-color:white;
    margin: 0px;
}

.recommend-playlist{
    background:url("../../resources/images/musicforyou.jpg") no-repeat;
    background-size: 100%;
    opacity: 0.8;
    height: 200px;
    margin-bottom: 10px;
    
  
}
.category{
    background-color:black;
    height: 130px;
    margin-bottom: 20px;
    display: block;
    text-decoration-color:white
}
.category-genre{
    color: white
}
.item-detail{
    display: block;
}
.song-ava-thumb{
    display: inline-block;
}
.song-ava-thumb img{
    width:80px;
    height: 80px;
}
.song-rank{
    display: inline-block;
}
.song-detail{
    display:inline-block;
  
}
.song-tool{
    display: inline-block;
}
.song-num{
    display: inline-block;
}
.icon-addlist{
    background-image: url("../icons/_ionicons_svg_md-add.svg");
    background-repeat: no-repeat;
   background-size: 20px;
 
}
.icon-share{
    background-image: url("../icons/_ionicons_svg_md-share.svg");
    background-repeat: no-repeat;
   background-size: 20px;
 

}
.icon-tool{
    display: inline-block;
}
.title{
    margin: 0px;
}
.input-txt{

    width: 400px;
    padding: 5px;

}
.ava{
    border-radius: 20px;    

    
}
.name-log{
    color:white;
    text-decoration: none;
}
.category{
    height: 160px;
    color:white;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */

}
.pop{
    background:url("../../resources/images/pop.jpg") no-repeat;;
    background-size: 100%;
    opacity: 0.8;
}
.rock{
	background:url("../../resources/images/rock.jpg") no-repeat;;
    background-size: 100%;
    opacity: 0.8;
    
}
.ballad{
    background:url("../../resources/images/Ballad.jpg") no-repeat;;
    background-size: 100%;
    opacity: 0.8;
}
.acoustic{
    background:url("../../resources/images/acoustic.jpg") no-repeat;
    background-size: 100%;
     opacity: 0.8; 
    
}
.best-song{
   
    height: 200px;
    border: solid 1px black;
}
.top-1{
    background: url(http://icons-for-free.com/free-icons/png/512/1337461.png) no-repeat center;
    
    background-size: 50%;

    width: 100px;
    height:50px;
    margin-left: 40px;
    margin-bottom: 0px;
    
}

#logout:hover {
    color: #1c1c1c;
    background-color: #ddd;
}

#payment:hover {
    color: #1c1c1c;
    background-color: #ddd;
}

#top-1-thumbnail{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100px;
    height: 138px;
    margin-left: 20px;
}
.tool-icon{
    width: 20px;
    height: 20px;
    
}
.tool-song-1{
    margin-top: 120px;
    width: 100px;
    margin-left: 40px;
  
}

#top-2{
    color: orange;
    font-size: 40px;
}
#top-3{
    color: blue;
    font-size:30px;
}
#top-1-cover{
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#search-result{
    position: fixed;
    background-color:white;
    border: 1px solid #dc3545;
    z-index: 4;
    width: 400px;
    padding:5px;
    visibility: hidden;
    overflow-y: scroll
}
.result-singer{
  
}
.result-detail{
    padding: 10px;
}
/* unvisited link */
.song-click:link {
    text-decoration: none;
}
a{
    color:black;
}
/* mouse over link */
.result-detail:hover {
   
    background-color: #dbdbdb;
}

/* selected link */
.song-click:active {
    color: white ;
}
.song-click{
    width: 400;  
    display: inline-block
}
.more-result{
    padding: 10px;
    background-color:#FEC1C1
}

/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 50%;
}
.title{
    margin-bottom:10px;
    margin-top:10px;
    color:#dc3545
}
.hot-artist{
    margin-bottom: 20px;
}
ion-icon {
    font-size: 64px;
}
#user-detail{
    visibility: hidden;
}