
    .fb-profile{
        margin-bottom: 30px;
    }
   body
   {
       font-family: 'Open Sans', sans-serif;
   }
   div{
    display:inline-block
}
   
   .fb-profile img.fb-image-lg{
       z-index: 0;
       width: 100%;  
       margin-bottom: 10px;
       border: 0.5px solid
   }
   
   .fb-image-profile
   {
       margin: -90px 10px 0px 50px;
       z-index: 9;
       width: 80%; 
       border: 0.5px solid
   }
   
   @media (max-width:768px)
   {
       
   .fb-profile-text>h1{
       font-weight: 700;
       font-size:16px;
   }
   
   .fb-image-profile
   {
       margin: -45px 10px 0px 25px;
       z-index: 9;
       width: 20%; 
   }
  
   }
   #authenticate{
        margin-left:40%;
   }
   #login-btn{
        margin-top:10px;
        margin-left:46%;
   } 