.base-color,a:hover,.button-style-1:hover span,.button-style-1.active span,.button-style-1.active,nav .main-nav>li:hover>a,nav .main-nav .megamenu.submenu .subcol .title-menu a:hover,nav .main-nav .megamenu.submenu .subcol li:hover a,.custom-filter a:hover,.custom-filter a.active,.box-overview .tab-nav li a.active,.box-overview .tab-nav li:hover a,.dropdown ul li a:hover,.dropdown ul li a.active,.info-score li.last span,.upload-plus:hover .text,.box-tooltip ul li a:hover,.box-tooltip ul .li a:hover,.box-tooltip .ul li a:hover,.box-tooltip .ul .li a:hover,.playlist li:hover .item-song h3 a,.playlist li:hover .item-song h4 a,.playlist li:hover .item-song span,.playlist li.playing .item-song h3 a,.playlist li.playing .item-song h4 a,.playlist li.playing .item-song span,.playlist li.pause .item-song h3 a,.playlist li.pause .item-song h4 a,.playlist li.pause .item-song span,.page-hottopic .info-content h4 a:hover{
    color:#721799
}
.item-song{
    border-bottom:20px;
    padding-bottom:20px;
    margin-bottom:50px;
    position:relative
}
.item-song .title-song{
    overflow:hidden;
    /* margin-bottom:10px; */
	margin-left: 10px;
}
.item-song .title-song h2,.item-song .title-song h3,.item-song .title-song h4,.item-song .title-song .hyphen{
    float:left
}
.item-song .title-song .hyphen{
    margin:0 5px
}
.item-song .title-song .quanlity-hq{
    margin:5px 0 0 10px
}
.item-song .title-song p{
    margin-bottom:10px
}
.item-song .tool-song{
    right:0;
    margin-top:-22px
}
.item-song.copyright-block{
    opacity:.5
}
.item-song:hover .tool-song{
    opacity:1;
    -moz-opacity:1;
    -khtml-opacity:1;
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter:alpha(opacity=100)
}

.txt-info,.txt-info a,.show-time i,.frm-comment .wrap-comment .frm-checkbox,.tab-pane .add-playlist-container li a,.playlist .item-song,.playlist .item-song a,.wrap-2-col .sidebar .data-list ul li a,.pagination ul li a,.info-primary .info-content li,.info-primary .info-content p,.item-song p,.panel-filter li a,.info-detail,.chart-title i,.txt-helper,.nhaccho-section table td h4 a,.info-song-top span{
    color:#888
}

.jumper-link li:hover a,.jumper-link li.active a,.txt-primary:hover,a.txt-info:hover,.txt-info a:hover,.txt-title-lagre:hover,.title-section .view-all,.show-time,.playlist li:hover .item-song h3 a,.playlist li:hover .item-song span,.playlist li:hover .item-song i,.wrap-2-col .sidebar .data-list li.active>a,.wrap-2-col .sidebar .data-list li a.active,.wrap-2-col .sidebar .data-list li a:hover,.alphabet a.active,.alphabet a:hover,.biography ul li a:hover,.read-more:hover,.info-primary .info-content .read-more:hover,.text-notice-user strong,.sz-title-sm strong,.box-info-artist .info-summary a:hover,.time-zone-7,.switch-chart li a:hover,.switch-chart li a.active,.info-song-top a:hover,.add-playlist-region li span{
    color:#a845de
}
.txt-primary,.title-section .view-all,.table-list .play-all,.intro,.title-page p,.show-time i,.header-bar .wrap-filter .title-section,.info-top-play p,.lyrics-container,.tab-pane .add-playlist-container li a,.box-artist .artist-info-text,.playlist .item-song,.playlist .item-song a,.wrap-2-col .sidebar .data-list ul li a,.alphabet a,.pagination ul li a,.biography,.top-banner .caption p,.info-primary .info-content li,.info-primary .info-content p,.item-song p,.toggle-filter,.text-helper-upload,.panel-filter h5,.table-list li .rank-score,.chart-title i,.nhaccho-section table td h3 a,.info-song-top a,.add-playlist-region li span,.title-item.small-title-item a{
    font-size:14px
}

.weekly-show,.header-title,.box-artist .artist-info h2,.txt-title-lagre,.item-song .title-song h3 a,.item-song .title-song h2 a,.item-song .title-song h4 a,.item-song .title-song .hyphen{
    font-size:18px
}

.show-time,.header-title,.info-top-play .txt-primary,.lyrics-container h3,.tab-pane .add-lyrics-container li a,.info-primary .info-content h2,.sz-title-sm strong,.item-song .title-song h4 a,.item-song .title-song .hyphen,.title-album .hyphen,.panel-filter h5,.time-zone-7,.chart-title{
    font-weight:500
}


.playlist li .item-song{
    width:100%;
    line-height:50px;
    padding:0 20px;
    float:left;
    border-bottom:0;
    margin-bottom:0
}


.playlist li .item-song>span{
    margin-right:15px;
    display:block;
    float:left;
    width:18px;
    text-align:center
}


.playlist li .item-song h4{
    display:inline-block;
    *display:inline;
    *zoom:1
}
.playlist li .item-song .wrap-h4{
    display:block;
    width:182px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden
}


.playlist li.playing .item-song>span{
    position:relative;
    text-indent:-99999px
}
.playlist li.playing .item-song>span:before{
    content:"";
    display:block;
    width:14px;
    height:10px;
    background:url(../images/playing.png) left center;
    -webkit-animation:play .8s steps(3) infinite;
    animation:play .8s steps(3) infinite;
    position:absolute;
    top:20px;
    left:1px
}
.playlist li.pause .item-song>span{
    position:relative;
    text-indent:-99999px
}
.playlist li.pause .item-song>span:before{
    content:"";
    display:block;
    width:14px;
    height:10px;
    background:url(../images/playing.png) left center;
    -webkit-animation:pause .8s steps(3);
    animation:pause .8s steps(3);
    position:absolute;
    top:20px;
    left:1px
}



.playlist li .item-song h3{
    display:inline-block;
    *display:inline;
    *zoom:1;
    width:220px;
    float:left
}
.playlist li .item-song h3 a{
    white-space:nowrap;
    overflow:hidden;
    display:block;
    text-overflow:ellipsis;
    margin-right:20px
}


.wrapper-page{
    background-color:#fff;
    width:1000px;
    margin:0 auto;
    padding:15px 12px 0
}
.fl{
    float:left
}
.quanlity-hq{
    width:33px;
    height:16px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    display:inline-block;
    *display:inline;
    *zoom:1
}
.info-meta{
    /* margin-top:8px; */
	margin-left: 10px;
}
.info-meta span{
    display:inline-block;
    *display:inline;
    *zoom:1
}
.info-meta h4{
    margin-bottom:0;
    display:inline
}
.info-meta .offcial-label{
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -ms-border-radius:2px;
    border-radius:2px;
    text-transform:uppercase;
    background:#ccc;
    font-size:11px;
    padding:1px 8px;
    margin:0 5px
}
.inline h2,.inline h3{
    display:inline
}
.inline h4 a{
    white-space:nowrap
}
.inline{
    display:inline
}

.sta-result h1{
    display:inline-block;
    *display:inline;
    *zoom:1;
    color:#000
}
.alphabet a,.custom-filter,.custom-filter a,.biography,.biography ul li a,.sta-result,.info-apps li span,.copyright,.item-service b,.switch-chart li a{
    color:gray
}

.sta-result{
    padding:0px;
    
	margin-bottom:10px;
}
.filter-display{
    float:right;
    margin-top:-10px
}
.filter-display li{
    display:inline-block;
    *display:inline;
    *zoom:1;
    margin-left:5px
}
.filter-display li i{
    display:inline-block;
    *display:inline;
    *zoom:1;
    width:25px;
    height:25px;
    background-position:-25px -1139px;
    cursor:pointer;
    position:relative;
    top:7px
}

.clearfix {
	
    padding-bottom: 20px;
	
	
}
#title-search{
    margin-right: 20px;
}
#sort{
   size: 20px;
 
}
#sortby{
    height: 20px;
}
#sort-list{
    margin-top:2px;
    border: solid 0.5px black;
    visibility: hidden;
    padding: 4px;
    width: 200px;
    z-index:5px
   
}

a {
    text-decoration: none
}