html {
    background: #fff;
    color: #000;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased!important;
    font-stretch: condensed;
    -webkit-font-smoothing: antialiased;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, th, td {
    margin: 0;
    padding: 0
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

audio::-webkit-media-controls-panel {
    color: #94A14E;
}

fieldset, img {
    border: 0
}

img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}


a {
    text-decoration: none;
    color: aqua;
}

.wrapper-page {
    background-color: #fff;
    width: 1000px;
    margin: 0 auto;
    padding: 15px 12px 0
}

.container {
    width: 970px;
    margin: 0 auto;
    overflow: hidden;
    position: relative
}

.inline {
    display: inline;
}

.inline h2 {
    font-weight: 400;
    font-size: 100%;
}

h2 a {
    font-weight: 400;
    font-size: 100%;
}

.page-content {
    background: inherit;
}

.info-content .txt-primary, .info-content h4 {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.title-album h2 {
    float: left
}

.title-album .hyphen {
    float: left;
    margin: 0 5px
}

.title-album .ft {
    font-size: 20px;
    font-weight: 700
}

.info-meta {
    margin-top: 8px
}

.info-meta span {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.info-meta h4 {
    margin-bottom: 0;
    display: inline
}

.info-meta .offcial-label {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    text-transform: uppercase;
    background: #ccc;
    font-size: 11px;
    padding: 1px 8px;
    margin: 0 5px
}

.inline h4 a {
    white-space: nowrap
}

.inline h2, .inline h3 {
    display: inline
}

.txt-primary {
    font-family: Roboto;
    font-weight: 400;
}

.play-frame {
    display: block
}

html {
    min-height: 100%;
    display: grid;
}

#player {
    background: #1D1E22;
    position: relative;
    margin-top: 20px;
    width: 650px;
    height: 350px;
    overflow: hidden;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}

.song-title {
    font-weight: 400;
    font-size: 100%;
}

h1 {
    line-height: 0.7;
}

#song-title-info {
    font-size: 20px;
}

.album {
    background-repeat: no-repeat;
    background-size: 300px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
}

.like {
    position: absolute;
    left: 5px;
    top: 5px;
    color: #ffffff;
    margin: 10px;
    transition: all 0.4s ease;
}

.sc-tag, .sc-tag:visited {
    position: absolute;
    display: inline-block;
    height: 20px;
    right: 5px;
    top: 5px;
    margin: 10px;
    padding: 0 7px;
    background: #999;
    border: 1px solid #999;
    border-left-width: 0;
    color: #fff;
    font-family: "Tahoma", sans-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sc-tag:hover {
    background: #666;
    border-color: #666;
    color: #fff;
}

.sc-tag:before {
    content: "#";
    display: block;
    float: left;
    margin-right: 3px;
}

.sc-tag>.sc-truncate {
    display: inline-block;
}

.sc-type-medium, .sc-type-large {
    font-weight: 100;
}

.sc-type-medium {
    font-size: 16px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0 0 10px;
}

.lyric {
    font-size: 14px;
    font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
    font-weight: 100;
}

.sc-truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal;
}

.info {
    height: 115px;
    width: 100%;
    position: absolute;
    bottom: 10px;
    background: rgba(#313131, 0.85);
    transition: all 0.5s ease-in-out;
}

.progress-bar {
    height: 5px;
    width: 73%;
    margin: 6% auto;
    background: lighten(#c0cfb2, 5%);
    border-radius: 10px;
    font-family: "Questrial", sans-serif;
}

.fill {
    background-color: #8ba989;
    width: 35%;
    height: 0.3rem;
    border-radius: 2px;
}

.time--current, .time--total {
    color: #364f3c;
    font-size: 10px;
    position: absolute;
    margin-top: -2px;
}

.time--current {
    left: 15px;
}

.time--total {
    right: 15px;
}

.currently-playing {
    text-align: center;
    position: absolute;
    right: 0;
    margin: 120px 190px;
    transform: translate(50%, -50%);
    font-size: 20px;
}

.song-name, .artist-name {
    font-family: "Questrial", sans-serif;
    text-transform: uppercase;
    margin: 0;
}

.song-name {
    font-size: 0.8em;
    letter-spacing: 3px;
    color: #ffffff;
}

.artist-name {
    font-size: 0.6em;
    letter-spacing: 1.5px;
    color: #c2ffa6f0;
    margin-top: 5px;
}

.controls {
    transform: translateY(50px);
    transition: all 0.5s ease-in-out;
}

.controls .controls-container {
    display: flex;
    position: relative;
    width: 450px;
    justify-content: center;
    margin: auto;
}

.controls .speaker:hover+.volume-slider {
    display: block;
}

.up {
    transform: translateY(85px);
}

.controls .previous {
    margin-left: 50px;
    margin-right: 20px;
}

.controls .next {
    margin-right: 50px;
}

.controls .speaker {
    position: absolute;
    right: 20px;
}

.song-theme-container {
    margin: 20px 50px;
}

.song-theme {
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    -webkit-animation: spin1 15s infinite;
    animation: spin1 15s infinite;
    animation-timing-function: linear;
}

@keyframes spin1 {
    0% {
        -moz-transform: rotate(320deg);
        -webkit-transform: rotate(320deg);
        -o-transform: rotate(320deg);
        -ms-transform: rotate(320deg);
    }
    100% {
        -moz-transform: rotate(680deg);
        -webkit-transform: rotate(680deg);
        -o-transform: rotate(680deg);
        -ms-transform: rotate(680deg);
    }
}

@-webkit-keyframes spin1 {
    0% {
        -moz-transform: rotate(320deg);
        -webkit-transform: rotate(320deg);
        -o-transform: rotate(320deg);
        -ms-transform: rotate(320deg);
    }
    100% {
        -moz-transform: rotate(680deg);
        -webkit-transform: rotate(680deg);
        -o-transform: rotate(680deg);
        -ms-transform: rotate(680deg);
    }
}

.paused {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}

.song-theme .cd-layer {
    position: absolute;
    top: 0;
    transform: scale(1.1)
}

.audio-container {
    display: flex;
    justify-content: center;
}

audio {
    width: 500px;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #FFF;
    cursor: pointer;
    outline: none;
}

.hide {
    display: none;
}

input:focus {
    outline: none;
}

.volume-slider:hover {
    display: block;
}

.volume-slider {
    -webkit-appearance: none;
    border: none;
    border-radius: 10px;
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0.5, #33ff00), color-stop(0.5, #555));
    position: absolute;
    height: 6px;
    width: 80px;
    right: -59px;
    top: 9px;
    display: none;
    transition: all 1s ease-in-out;
}

.about {
    position: relative;
    border-style: hidden;
    background: white;
    margin-top: 20px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.about .left {
    position: absolute;
    font-size: 14px;
    top: 0;
    left: 0;
    padding-right: 20px;
    padding-top: 10px;
    width: 220px;
}

.about .right {
    padding-left: 230px;
}

audio::-webkit-media-controls-mute-button {
    display: none;
}

.singer-image-container {
    width: 150px;
    height: 150px;
    margin: 10px auto 5px auto;
    border-radius: 10px;
    overflow: hidden;
}

#singer-image {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.sc-type-light {
    font-weight: 100;
    color: #999;
}

h3, .sc-type-h3 {
    font-size: 14px;
}

.sc-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

a.sc-ministats {
    color: #999;
}

a, a:visited {
    color: #38d;
    text-decoration: none !important;
}

.sc-ministats-small {
    color: #999;
    font-size: 11px;
    line-height: 12px;
}

.sc-ministats-group .sc-ministats-small {
    margin-right: 9px;
}

.sc-ministats-group .sc-ministats {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 13px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.sc-ministats-group {
    display: flex;
    position: relative;
    padding: 0 30px;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
}

.singer-name {
    text-align: center;
    
}

#singer-name {
    font-size: 1rem;
}

.wrap-page {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.sidebar {
    float: right;
    width: 300px;
    position: relative;
}

.wrap-content {
    width: 650px;
    float: left;
}

.camel-case {
    text-transform: capitalize;
}

.lower-case {
    text-transform: lowercase;
}

.upper-case {
    text-transform: uppercase;
}

#lyric-content {
    overflow: hidden;
    height: 300px;
    color: rgb(70, 70, 70);
}

dialog {
    visibility: hidden;
    transform: scale(0.1);
    transition: transform 200ms;
}

dialog.dialog-scale {
    visibility: visible;
    transform: scale(1);
}

.w3-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.w3-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 60%;
    height: 80%;
}

.w3-teal, .w3-hover-teal:hover {
    color: #fff!important;
    background-color: #009688!important;
}
.w3-container, .w3-panel {
    padding: 0.01em 16px;
}

.w3-display-topright {
    position: absolute;
    right: 0;
    top: 0;
}

.w3-btn, .w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.w3-button:hover {
    background-color: aquamarine;
    color: #313131;
}

iframe {
    width: 100%;
    height: 100%;
}

.page {
    background-color: white;
    width: 100%;
    margin: 0;
    padding: 30px 5px 0;
    
}

.download {
    position: absolute;
    left: 20px;

}
